body {
    font-family: 'Lobster', sans-serif;
    background-color: rgb(241, 92, 176);
    background-image: url('https://img.freepik.com/free-vector/blurred-valentine-s-day-wallpaper_23-2148819570.jpg?w=740&t=st=1707852744~exp=1707853344~hmac=08b2eb7c942a71d181e0fa3177a91b9c87e8e9f5b77e72b8a182d7bdabc2d6c2'); /* URL to your background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 250px;
    height: 400px;
    aspect-ratio: 1/2;
}

.question {
    text-align: center;
    font-size: 1.7rem;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hidden {
    display: none;
}
.btn {
    background-color: #6237A0;
    border: 1px solid transparent;
    border-radius: 2rem;
    color: #f9f9f9;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 1rem 1.2rem;
    text-align: center;
    margin-left: 20px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increase box shadow on hover */
}

@media screen and (max-width: 576px) {
    .question { 
        font-size: 1.2rem;
    }
    .btn {
        padding: 0.5rem 0.8rem;
        margin-bottom: 10px;
    }
}